{% load crispy_forms_tags %}

<form class="my-5 p-3 bg-white border row g-3" action="{% url 'property_list' %}" method="post">
    {% csrf_token %}
    <h3>Search</h3>
    <div class="col-6 col-lg-3">
        {{ search_form.property_type|as_crispy_field }}
    </div>
    <div class="col-6 col-lg-3">
        {{ search_form.property_status|as_crispy_field }}
    </div>
    <div class="col-6 col-lg-3">
       {{ search_form.province|as_crispy_field }}
    </div>
    <div class="col-12 col-lg-3 mt-auto">
        <button class="btn primary bg-secondary w-100" type="submit">Search</button>
    </div>
    
</form>