{% comment %} urls for adding the 'active' class to links {% endcomment %}
{% url 'home' as home %}
{% url 'property_list' as property_list %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Emerald Property Solutions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == property_list %}active{% endif %}" href="{% url 'property_list' %}">For Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">To Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link uppercase" href="#">Our Team</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link uppercase border-start ms-3" href="{% url 'property_add' %}">+ Add new listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uppercase border-start ms-3" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item border-start">
                        <a href="{% url 'account_login' %}" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>