:root {
    --primary: #fa8072;
}
body {
    background-color: #f5f7fb;
}

.primary-text {
    color: var(--primary);
}

.primary-bg {
    background-color: var(--primary)
}

.p-title {
    font-size: 1.45em;
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.p-img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.p-title:hover {
    color: var(--primary);
}

.title-underline {
    display: inline-block;
    padding-bottom: 8px;
    position: relative;
}
.title-underline:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid var(--primary);
    border-radius: 5px;
}